<% include header %>

  <h1><%-title %></h1>
  
  <ul>
  </ul>
  
  <h2>Users</h2>
  <table>
    <tr>
      <th>UserId</th>
      <th>Username</th>
    </tr>
    <% users.forEach(function(user) { %>
      <tr>      
        <td><%= user.userId %></td>
        <td><%= user.userName %></td>
      </tr>
    <% }); %>
  </table>
  
  <h2>Playlists</h2>
  <table>
    <tr><th>PlaylistId</th></tr>
    <% playlists.forEach(function(playlist) { %>
      <tr>      
        <td><%= playlist.playlistId %></td>
      </tr>
    <% }); %>
  </table>
  
  <h2>UserPlaylist</h2>
  <table>
    <tr>
      <th>UserId</th>
      <th>PlaylistId</th>
      <th>isOwner</th>
    </tr>
    <% userPlaylists.forEach(function(userPlaylist) { %>
      <tr>      
        <td><%= userPlaylist.userId %></td>
        <td><%= userPlaylist.playlistId %></td>
        <td><%= userPlaylist.isOwner %></td>
      </tr>
    <% }); %>
  </table>
  
  <h2>TrackRequest</h2>
  <table>
    <tr>
      <th>TrackId</th>
      <th>PlaylistId</th>
      <th>UserId</th>
      <th>RequestType</th>
    </tr>
    <% trackRequests.forEach(function(trackRequest) { %>
      <tr>      
        <td><%= trackRequest.trackId %></td>
        <td><%= trackRequest.playlistId %></td>
        <td><%= trackRequest.userId %></td>
        <td><%= trackRequest.requestType %></td>
      </tr>
    <% }); %>
  </table>

<% include footer %>